<div class="banner relative">
  <% if params[:controller] == 'lists' && %w(index).include?(params[:action])%>
    <h1 class="text-center py-5 text-5xl">Home page</h1>
    <p>A Paragraph</p>
  <% end %>
  <% if params[:controller] == 'lists' && %w(new).include?(params[:action])%>
    <h1 class="text-center py-5 text-5xl">Create a new list</h1>
    <p>A Paragraph</p>
  <% end %>
  <% if params[:controller] == 'lists' && %w(show).include?(params[:action])%>
    <h1 class="text-center py-5 text-5xl"><%= @list.name %></h1>
    <p>A Paragraph</p>
    <p class='absolute bottom-0 right-0 bg-extra p-3 mb-4 mr-4 rounded-lg'><%="#{@list.bookmarks.length} #{'movie'.pluralize(@list.bookmarks.length)}" if @list.bookmarks.length > 0 %></p>
  <% end %>
</div>
