<div class="banner relative bg-opacity-75 bg-gradient-to-tr from-primary to-dark">
  <% if params[:controller] == 'lists' && %w(index).include?(params[:action])%>
    <h1 class="text-center"><%= @line %></h1>
  <% end %>
  <% if params[:controller] == 'lists' && %w(show).include?(params[:action])%>
    <h1 class="text-center py-5 text-5xl"><%= @list.name %></h1>
    <% if !@list.bookmarks.empty? %>
      <p class='absolute bottom-0 right-0 bg-extra p-3 mb-4 mr-4 rounded-lg'><%="#{@list.bookmarks.length} #{'movie'.pluralize(@list.bookmarks.length)}" if @list.bookmarks.length > 0 %></p>
    <% end %>
  <% end %>
</div>
