 <button id="openBtn">New list</button>
<div id="modal" class="hidden modal-bg transition-opacity duration-500 pt-16 fixed w-full h-full left-0 overflow-auto">
  <div class="modal-content relative m-auto bg-gray-100 w-4/5 shadow-lg">
    <div class="p-4 bg-gray-700 text-white">
      <span class="closeBtn float-right text-lg font-bold hover:text-gray-500 no-underline cursor-pointer">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="p-4">
      <div class="container mx-auto my-8">
        <%= simple_form_for(@list) do |f| %>
          <%= f.input :name %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div class="p-4 text-white bg-gray-500">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>
