<nav class="navbar animate-navbar">
  <a href="index.html" class="header__logo"></a>
  <a href="" class="navbar-icon-bar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="navbar-menu animate">
    <li class="navbar-menu-item"><a href="#">My lists</a></li>
    <li class="navbar-menu-item"> <%= link_to 'New list', new_list_path  %></li>
  </ul>
</nav>
