<nav class="navbar animate-navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "icon-movie.png", alt: "Home", size: "40x40", class: 'logo-light' %>
      <%= image_tag "icon-movie-dark.png", alt: "Home", size: "40x40", class: 'logo-dark inactive' %>
    <% end %>
  </div>
  <a href="" class="navbar-icon-bar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="navbar-menu animate">
    <li class="navbar-menu-item"><%= render 'components/modal' %></li>
    <li class="navbar-menu-item"><a href="#">Placeholder</a></li>
    <li class="navbar-menu-item"><a href="#">Placeholder</a></li>
  </ul>
</nav>
