<header class="header animate__navbar">
  <a href="index.html" class="header__logo">
  </a>
  <a href="" class="header__icon-bar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="header__menu animate">
    <li class="header__menu-item"><a href="index.html">Home</a></li>
    <li class="header__menu-item"><a href="single.html">Single</a></li>
    <li class="header__menu-item"><a href="page.html">Page</a></li>
    <li class="header__menu-item"><a href="contact.html">Contact</a></li>
  </ul>
</header>
