<nav class="navbar animate-navbar">
  <a href="index.html" class="header__logo"></a>
  <a href="" class="navbar-icon-bar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="navbar-menu animate">
    <li class="navbar-menu-item"><a href="#">Home</a></li>
    <li class="navbar-menu-item"><a href="#">Single</a></li>
    <li class="navbar-menu-item"><a href="#">Page</a></li>
    <li class="navbar-menu-item"><a href="#">Contact</a></li>
  </ul>
</nav>
