// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$p-white: #FBFBFD;
$tickle-me-pink: #FF7B9CFF;
$keppel: #2EBFA5FF;
$medium-purple: #9381FFFF;
$rich-black-fogra-39: #070600FF;
