.header {
  background: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.animate__navbar {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__logo {
  color: #4b4e6dff;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header__icon-bar {
  float: right;
  padding: 20px;
  display: none;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header__icon-bar span {
  display: block;
  height: 1px;
  width: 25px;
  position: absolute;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header__icon-bar span:nth-child(1) {
  top: 10px;
}

.header__icon-bar span:nth-child(2) {
  top: 20px;
}

.header__icon-bar span:nth-child(3) {
  top: 30px;
}

.header__icon-bar.open span:nth-child(1) {
  top: 18px;
  background: #7aababff;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header__icon-bar.open span:nth-child(2) {
  background: #7aababff;
  opacity: 0;
  left: -60px;
}

.header__icon-bar.open span:nth-child(3) {
  background: #7aababff;
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header__menu {
  float: right;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  display: inline-block;
}

.header__menu-item a {
  color: #4b4e6dff;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header__menu-item a:hover {
  color: #4b4e6dff;
  font-weight: 700;
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  .header__icon-bar {
    display: block;
  }

  .header__icon-bar span {
    background: #4b4e6dff;
  }

  .header__menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }

  .header__menu-item {
    display: block;
  }


  .header__menu.open {
    height: 100vh;
    overflow: auto;
  }
}
